.back_to_list{
    border: none;
    border-radius: 5px;
    background-color: #325341;
    color: #F1EBE5;
}
.back_to_list:hover{
    color: #EC5B2D;
}
.submit_btn{
    border: none;
    width: 450px;
    height: 50px;
    background-color: #EC5B2D;
    border-radius: 10px;
    color: #F1EBE5;
    font-size: 25px;
    font-weight: bolder;
    margin: 10px;
}
.submit_btn:hover{
    color: #325341;
}
form{
    border-bottom: 1px solid #325341;
    border-top: 1px solid #325341;
}